body{
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    /* color:white; */
    font-size: 50px;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
    color: palevioletred;
}

.introduce {
    width: 100vw;
    height: 100vh;
    
    color: black;
    /* margin: 0; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.introduceText{
    /* margin-left: 7vw; */
}

.introduceTextFirst{
    margin: 2vh 0;
    font-size: 2vw;
    font-weight: 500;
    color: palevioletred;
}

.introduceTextSecond{
    margin: 2vh 0;
    font-size: 6vw;
    font-weight: 700;
    color: palevioletred;
}

.introduceTextThird{
    margin: 2vh 0;
    font-size: 3vw;
    font-weight: 600;
    color:palevioletred;
}

.introduceTextFourth{
    font-family: 'Caveat', cursive;
    margin: 2vh 0;
    font-size: 2vw;
    font-weight: 500;
    color: palevioletred;
}

.introduceImg{

    width:20vw;
    height: 20vw;
    
}


.firstContainer{
    display: flex;
    justify-content: center;
    width:100vw;
    margin-top: 5vh;
}

#favoriteTitle_1 {
    font-size: 2.4vw;
    font-weight: 600;
    color: #FAA8A8;
    margin-left: 1vw;
    text-align: end;
    margin-right: 5vw;
    border: 2px solid #ff69b4;
    border-radius: 3vw;
    padding: 2vw;
    box-shadow: 0.2px 3px 2px red;
    cursor: pointer;
}

#favoriteTitle_2 {
    font-size: 2.4vw;
    font-weight: 600;
    color: #FAA8A8;
    margin-left: 1vw;
    text-align: end;
    margin-right: 5vw;
    border: 2px solid #ff69b4;
    border-radius: 3vw;
    padding: 2vw;
    box-shadow: 0.2px 3px 2px red;
    cursor: pointer;
}

#favoriteTitle_3 {
    font-size: 2.4vw;
    font-weight: 600;
    color: #FAA8A8;
    margin-left: 1vw;
    text-align: end;
    margin-right: 5vw;
    border: 2px solid #ff69b4;
    border-radius: 3vw;
    padding: 2vw;
    box-shadow: 0.2px 3px 2px red;
    cursor: pointer;
}


#favoriteTitle_1:hover {
    color: #FF4646;
}

#favoriteTitle_2:hover {
    color: #FF4646;
}

#favoriteTitle_3:hover {
    color: #FF4646;
}

#favoriteContainer {
    display: none;
    justify-content: center;
}

#favorite {
    margin-top: 3vh;
    width: 40vw;
    height: 30vh;
    /* display: flex;*/
    display: flex;
    font-size: 1vw;
    font-weight: 600;
    color:black;
    /* background-color: #D7BDE2; */
    /* border: 2px solid #D7BDE2; */
    border-radius: 3vw;
    justify-content: center;
}

.favoriteItemContainer{
    width: 10vw;
    height: 17vh;
    padding: 2.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:  #D7BDE2;
    margin-right: 1vw;
    margin: 3vw;
}

.favoriteItem{
    width: 11vw;
    height: 10vh;
    overflow: hidden;
}

.fovoriteText{
    width:5vw;
    height: 2.5vh;
    text-align: center;
}

#music{
    margin-left: 2vw;
    width:40vw;
    height: 30vh;
    display: none;
}

#music a{
    text-decoration: none;
    color:black;
}

.musicItemContainer{
    width:35vw;
    height: 10vh;
    display: flex;
    font-size: 1.5vw;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3vh;
    border: 1.8px solid #FF4646;
    border-radius: 5vw;
}

.musicItemContainer:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.musicItemContainer img{
    width: 8vw;
    height: 8vh;
    border-radius: 50%;
}

#mbtiContainer {
    display: none;
}

#mbtiContentContainer {
    display: flex;
    flex-direction: column;
}

#mbtiImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
}

#mbti {
    font-size: 11vw;
    font-family: fantasy;
    margin-top: 2vw;
    margin-right: -2vw;
    margin-left: 6vw;
    margin-bottom: 0px;
    padding: 2vw;
}

#mbtiImg {
    width: 100%;
    height: 65%;
}

#mbtiDes {
    font-size: 1.3vw;
    font-family: cursive;
}